.splittedButtonView {
  background-color: #323643;
  display: inline-flex;
  padding: 4px;
  border-radius: 24px;
  opacity: 77%;
  left: 37px;
}

.splittedButtonItem {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  background-color: transparent;
  border-radius: 24px;
  padding: 4px 24px;
  cursor: pointer;
  color: #fff;
  opacity: 50%;
}

.splittedButtonItemActive {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f4;
  border-radius: 24px;
  padding: 4px 24px;
  cursor: pointer;
  color: #323643;
}
