
.score{
    width: 35px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #575FF9;
    opacity: 0.9;
    box-shadow: 0px 3px 7px 0px rgba(148, 95, 233, 71);
    position: absolute;
    bottom: 17px;
    left: 20px;
}

.scoreFavorite{
    width: 35px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF0061;
    opacity: 0.9;
    box-shadow: 0px 3px 7px 0px rgba(250, 2, 98, 70);
    position: absolute;
    bottom: 17px;
    left: 20px;
}