.checkyButton{
    height: 40px;
    width: 216px;
    border: 1px solid #323643;
    border-radius: 24px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkyButtonActive{
    height: 40px;
    width: 216px;
    /* border: 1px solid #323643; */
    border-radius: 24px;
    background-color: #323643;
    color: #FFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}