.navigation {
  width: 100%;
  height: 60px;
  position: relative;
  margin-bottom: 1em;
  /* border-bottom: solid 1px #535353; */
  /* background-color: rosybrown; */

  /* flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    background-color: transparent; */
}

.line {
  width: 98%;
  border: 1px solid #f5f5f5;
  margin: 0;
  /* position: absolute; */
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.container {
  display: grid;
  grid-gap: 4px;
  grid-auto-columns: 150px;
  /* height: 60px; */
  grid-template-rows: 60px;
  grid-auto-flow: column;

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  /* padding-bottom: 2px; */
  /* margin-bottom: 2px; */
}

.navigationElement {
  scroll-snap-align: center;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background:coral; */
  border-radius: 8px;
  text-align: center;
}

.category {
  font-size: 14.24;
  cursor: pointer;
}

.categoryActive {
  border: 1px solid #323643;
  border-radius: 16px;
  background-color: #e3e6e3;
  padding: 3px 16px;
  font-size: 14.24;
  font-weight: bold;
  cursor: pointer;
}

.itemContainer {
  border-inline-start-color: #e7e7e7;
  border-inline-start-width: 1px;
  border-inline-start-style: solid;
  border-top-color: #e7e7e7;
  border-top-width: 1px;
  border-top-style: solid;
  /* border-inline-start-color: #e7e7e7;
  border-inline-start-width: 1px;
  border-inline-start-style: solid; */
  /* margin-top: -1px; */
}

.table {
  /* display: grid; */
  /* grid-gap: 0px; */
  width: 100%;
  /* grid-template-columns: 50% 50%; */
  /* height: 60px; */
  /* grid-auto-rows: 40px; */
  /* padding-bottom: 1em; */
  height: calc(100vh - 700px);
  border-bottom-color: #e7e7e7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /* padding-bottom: 1em; */
  /* grid-auto-flow: column;
    
    overflow-x: scroll;
    scroll-snap-type: x proximity; */
}

.tableElement {
  scroll-snap-align: center;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background:coral; */
  border: 0.5px solid #f5f5f5;
  position: relative;
}

.filterName {
  /* position: absolute; */
  /* left: 36px; */
  max-width: 10em;
}

.iconsContainer {
  width: 308px;
  height: 68px;
  /* position: absolute; */
  /* bottom: 2%; */
  /* left: 50%; */
  /* transform: translate(-50%); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
