.backContainer {
  display: inline-flex;
  margin: 8px;
  cursor: pointer;
}

.backIcon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  float: left;
  align-items: center;
  margin-right: 4px;
}

.backText {
  display: inline-flex;
  float: left;
  align-items: center;
  margin: 0;
  font-size: 12px;
  color: #323643;
}
