.dropDownContent {
  max-height: calc(100vh - 100px);
  /* max-height: calc(100vh-50px); */
  width: 362px;
  background-color: #fff;
  position: absolute;
  right: 37px;
  margin-top: 56px;
  padding-top: 24px;
  overflow: hidden;
  opacity: 90%;
  z-index: 2;
}

.dropDownItem {
  display: flex;
  margin-left: 16%;
  align-items: center;
  color: #000;
}
